polars==1.22.0
pandas==2.2.3
numpy==2.0.2
matplotlib==3.9.4
seaborn==0.13.2
scikit-learn==1.6.1
graphviz==0.20.3
statsmodels==0.14.4
jupyterlab==4.3.5
pyarrow==19.0.0
deltalake==0.24.0
xlsx2csv==0.8.4
xlsxwriter==3.2.2
openpyxl==3.1.5
xlrd==2.0.1